<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="header">
  <p><img src="images/logo.jpg" /></p>
  <ol>
    <li><a href="#">设为首页</a></li>
    <li><a href="#">加入收藏</a></li>
    <li><a href="#">联系我们</a></li>
  </ol>
  <div class="nav">
    <ul>
      <li><a href="index.html">网站首页</a></li>
      <li><a href="jianjie.html">苗圃简介</a></li>
      <li><a href="new.html">新闻动态</a></li>
      <li><a href="show.html">苗木展示</a></li>
      <li><a href="#">参考报价</a></li>
      <li><a href="order.html">在线订购</a></li>
      <li class="last"><a href="phone.html">联系我们</a></li>
    </ul>
  </div>
</div>
<div class="banner"><img src="images/banner.jpg" /></div>
<div class="content">
  <div class="left">
    <div class="left1"> <img src="images/left-1-bg1.jpg" />
      <div class="left1-1"><img src="images/daohang.jpg" />
      <div class="clear"></div>
    	<ul class="jianjie-left1">
        <li><a href="phone.html">联系方式</a></li>
        <li><a href="order.html">在线预订</a></li>
        <li><a href="#">客户留言</a></li>
        </ul>
      </div>
      <img src="images/left-1-bg2.jpg" /> </div>
    <div class="left2"> <img src="images/left-1-bg1.jpg" />
      <div class="left2-1"><img src="images/phone.jpg" />
        <ul>
          <li>厂长：王先生</li>
          <li>手机：13466321872</li>
          <li>联系电话：0571-12345678</li>
          <li>地址：杭州某某区林场口</li>
          <li>联系QQ：798454001</li>
          <li>邮箱：aotemhu@126.com</li>
        </ul>
      </div>
      <img src="images/left-1-bg2.jpg" /> </div>
  </div>
  <div class="weizhi-right">
    <div class="weizhi-right1"> <img src="images/right-1-1.jpg" />
      <div class="weizhi-right1-1">
      <div class="now">您现在的位置：林木苗圃>在线预订</div>
      <div class="clear"></div>
     <div class="order-right">
     <form action="" method="">
     <table border="0" width="490" cellpadding="0" cellspacing="2">
  <tr>
    <td class="td1">苗木名称：</td>
    <td class="td2"><input class="ip3" /></td>
    <td class="td3">*</td>
  </tr>
  <tr>
    <td  class="td1">订购数量：</td>
    <td class="td2"><input class="ip3"  /></td>
    <td class="td3">*</td>
  </tr>
  <tr>
    <td  class="td1">联系人：</td>
    <td class="td2"><input class="ip3" /></td>
    <td class="td3">*</td>
  </tr>
  <tr>
    <td  class="td1">联系电话：</td>
    <td class="td2"><input class="ip3"  /></td>
    <td class="td3">*</td>
  </tr>
  <tr>
    <td  class="td1">电子邮件：</td>
    <td class="td2"><input class="ip3"  /></td>
    <td></td>
  </tr>
  <tr>
    <td  class="td1">QQ/MSN：</td>
    <td class="td2"><input class="ip3"  /></td>
    <td></td>
  </tr>
  <tr>
    <td  class="td1">其他要求：</td>
    <td class="td2"><textarea class="txt"></textarea></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td  class="td1">验证码：</td>
    <td class="td2"><input class="ip5"/><img src="images/yanzhengma.jpg" /><span class="sp2">看不清？更换一张</span></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td  class="td1">&nbsp;</td>
    <td class="td2"><input class="bt" type="submit" value="提交" /></td>
    <td>&nbsp;</td>
  </tr>
</table>
</form>
     </div>
      </div>
      <img src="images/right-1-2.gif" /> </div>
  </div>
  <div class="clear"></div>
</div>
<div class="xian"></div>
<div class="clear"></div>
<div class="footer">
  <div class="foot"> <a href="#">关于我们</a><a href="#">联系方式</a><a href="#">客户留言</a><a href="#">招聘信息</a><a href="#">在线订购</a><a href="#" class="last3">友情链接</a><br  />
    <p>版权所有&nbsp;Copyright(C)2009-2010&nbsp;杭州某某林木</p>
  </div>
</div>
</body>
</html>