<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="header">
  <p><img src="images/logo.jpg" /></p>
  <ol>
    <li><a href="#">设为首页</a></li>
    <li><a href="#">加入收藏</a></li>
    <li><a href="phone.html">联系我们</a></li>
  </ol>
  <div class="nav">
    <ul>
      <li><a href="index.html">网站首页</a></li>
      <li><a href="jianjie.html">苗圃简介</a></li>
      <li><a href="new.html">新闻动态</a></li>
      <li><a href="show.html">苗木展示</a></li>
      <li><a href="#">参考报价</a></li>
      <li><a href="order.html">在线订购</a></li>
      <li class="last"><a href="phone.html">联系我们</a></li>
    </ul>
  </div>
</div>
<div class="banner"><img src="images/banner.jpg" /></div>
<div class="content">
  <div class="left">
    <div class="left1"> <img src="images/left-1-bg1.jpg" />
      <div class="left1-1"><img src="images/daohang.jpg" />
      <div class="clear"></div>
    	<ul class="jianjie-left1">
        <li><a href="jianjie.html">苗圃简介</a></li>
        <li><a href="#">荣誉证书</a></li>
        <li><a href="#">苗圃风光</a></li>
        <li><a href="show.html">苗木展示</a></li>
        <li><a href="#">招聘信息</a></li>
        </ul>
      </div>
      <img src="images/left-1-bg2.jpg" /> </div>
    <div class="left2"> <img src="images/left-1-bg1.jpg" />
      <div class="left2-1"><img src="images/phone.jpg" />
        <ul>
          <li>厂长：王先生</li>
          <li>手机：13466321872</li>
          <li>联系电话：0571-12345678</li>
          <li>地址：杭州某某区林场口</li>
          <li>联系QQ：798454001</li>
          <li>邮箱：aotemhu@126.com</li>
        </ul>
      </div>
      <img src="images/left-1-bg2.jpg" /> </div>
  </div>
  <div class="weizhi-right">
    <div class="weizhi-right1"> <img src="images/right-1-1.jpg" />
      <div class="weizhi-right1-1">
      <div class="now">您现在的位置：林木苗圃>苗木展示</div>
      <div class="clear"></div>
       <div class="show-right">
       <img src="images/nvzhen.jpg" class="show-img" width="142"  /><span class="show-sp"><span class="sp1">女贞</span>高杆女贞木樨科，常绿侨属，页对生，草压制，各地又在高杆女贞木樨科，常绿侨属，页对生，草压制，各地又在高杆女贞木樨科，常绿侨属，页对生，草压制，各地又在</span>
       <img src="images/nvzhen.jpg" class="show-img" width="142"  /><span class="show-sp"><span class="sp1">女贞</span>高杆女贞木樨科，常绿侨属，页对生，草压制，各地又在高杆女贞木樨科，常绿侨属，页对生，草压制，各地又在高杆女贞木樨科，常绿侨属，页对生，草压制，各地又在</span>
        <img src="images/nvzhen.jpg" class="show-img" width="142"  /><span class="show-sp"><span class="sp1">女贞</span>高杆女贞木樨科，常绿侨属，页对生，草压制，各地又在高杆女贞木樨科，常绿侨属，页对生，草压制，各地又在高杆女贞木樨科，常绿侨属，页对生，草压制，各地又在</span>
         <img src="images/nvzhen.jpg" class="show-img" width="142"  /><span class="show-sp"><span class="sp1">女贞</span>高杆女贞木樨科，常绿侨属，页对生，草压制，各地又在高杆女贞木樨科，常绿侨属，页对生，草压制，各地又在高杆女贞木樨科，常绿侨属，页对生，草压制，各地又在</span>
          <img src="images/nvzhen.jpg" class="show-img" width="142"  /><span class="show-sp"><span class="sp1">女贞</span>高杆女贞木樨科，常绿侨属，页对生，草压制，各地又在高杆女贞木樨科，常绿侨属，页对生，草压制，各地又在高杆女贞木樨科，常绿侨属，页对生，草压制，各地又在</span>
       </div>
       <form class="form1">
       <p class="p3">共5条&nbsp;每页10条&nbsp;页次：1/1</p>
       <p class="p4"><a href="">首页</a><a href="">上一页</a><a class="a1" href="">1</a><a href="">下一页</a>
       <select>
       <option>第1页</option>
       <option>第2页</option>
       </select>
       <a href="">尾页</a></p>
       </form>
      </div>
      <img src="images/right-1-2.gif" /> </div>
  </div>
  <div class="clear"></div>
</div>
<div class="xian"></div>
<div class="clear"></div>
<div class="footer">
  <div class="foot"> <a href="#">关于我们</a><a href="#">联系方式</a><a href="#">客户留言</a><a href="#">招聘信息</a><a href="#">在线订购</a><a href="#" class="last3">友情链接</a><br  />
    <p>版权所有&nbsp;Copyright(C)2009-2010&nbsp;杭州某某林木</p>
  </div>
</div>
</body>
</html>