<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="header">
  <p><img src="images/logo.jpg" /></p>
  <ol>
    <li><a href="#">设为首页</a></li>
    <li><a href="#">加入收藏</a></li>
    <li><a href="phone.html">联系我们</a></li>
  </ol>
  <div class="nav">
    <ul>
      <li><a href="index.html">网站首页</a></li>
      <li><a href="jianjie.html">苗圃简介</a></li>
      <li><a href="new.html">新闻动态</a></li>
      <li><a href="show.html">苗木展示</a></li>
      <li><a href="#">参考报价</a></li>
      <li><a href="order.html">在线订购</a></li>
      <li class="last"><a href="phone.html">联系我们</a></li>
    </ul>
  </div>
</div>
<div class="banner"><img src="images/banner.jpg" /></div>
<div class="content">
  <div class="left">
    <div class="left1"> <img src="images/left-1-bg1.jpg" />
      <div class="left1-1"><img src="images/left-1-1.jpg" />
        <ol>
          <li class="two"><a class="cl1" href="gyl.html">广玉兰</a></li>
          <li class="two">白玉兰</li>
          <li class="three"><a class="cl1" href="xs.html">雪松</a></li>
          <li class="two">风扬</li>
          <li class="two">紫玉兰</li>
          <li class="three">龙波</li>
          <li class="two">鹅掌楸</li>
          <li class="two">红枫</li>
          <li class="three">樱花</li>
          <li class="two">泡桐</li>
          <li class="two">塔柏</li>
          <li class="three">紫禁</li>
          <li class="two">马尾松</li>
          <li class="two">速生杨</li>
          <li class="three">怡养</li>
          <li class="two">垂柳</li>
          <li class="two">桂花</li>
          <li class="three">凤翔</li>
        </ol>
      </div>
      <img src="images/left-1-bg2.jpg" /> </div>
    <div class="left2"> <img src="images/left-1-bg1.jpg" />
      <div class="left2-1"><img src="images/phone.jpg" />
        <ul>
          <li>厂长：王先生</li>
          <li>手机：13466321872</li>
          <li>联系电话：0571-12345678</li>
          <li>地址：杭州某某区林场口</li>
          <li>联系QQ：798454001</li>
          <li>邮箱：aotemhu@126.com</li>
        </ul>
      </div>
      <img src="images/left-1-bg2.jpg" /> </div>
  </div>
  <div class="weizhi-right">
    <div class="weizhi-right1"> <img src="images/right-1-1.jpg" />
      <div class="weizhi-right1-1">
      <div class="now">您现在的位置：林木苗圃>苗木展示>雪松</div>
      <div class="clear"></div>
		<table border="1" cellpadding="0" cellspacing="0" class="xs-tb" width="575" bordercolor="#BFBFBF">
  <tr class="tr1">
    <td colspan="9" >一级雪松价格：书感知，树脂密度大，形状有没程宝塔装，管</td>
    </tr>
  <tr>
    <td width="65" align="center">高度(cm)</td>
    <td width="65" align="center">1.2cm</td>
    <td width="65" align="center">1.5cm</td>
    <td width="65" align="center">1.8cm</td>
    <td width="65" align="center">2.5m</td>
    <td width="65" align="center">3m</td>
    <td width="65" align="center">3.5m</td>
    <td width="65" align="center">4m</td>
    <td width="65" align="center">2m</td>
  </tr>
  <tr>
    <td width="62" align="center">土球(cm)</td>
    <td align="center">20</td>
    <td align="center">25</td>
    <td align="center">30</td>
    <td align="center">35</td>
    <td align="center">40</td>
    <td align="center">45</td>
    <td align="center">50</td>
    <td align="center">55</td>
  </tr>
  <tr>
    <td align="center">价格(元)</td>
    <td align="center">7</td>
    <td align="center">9</td>
    <td align="center">11</td>
    <td align="center">13</td>
    <td align="center">15</td>
    <td align="center">18</td>
    <td align="center">20</td>
    <td align="center">25</td>
  </tr>
  <tr>
    <td align="center">高度(cm)</td>
    <td align="center">4.5cn</td>
    <td align="center">5.5cm</td>
    <td align="center">6cm</td>
    <td align="center">7cm</td>
    <td align="center">8cm</td>
    <td align="center">9cm</td>
    <td align="center">9.5cm</td>
    <td align="center">10cm</td>
  </tr>
  <tr >
    <td align="center">土球(cm)</td>
    <td align="center">65</td>
    <td align="center">70</td>
    <td align="center">75</td>
    <td align="center">80</td>
    <td align="center">85</td>
    <td align="center">90</td>
    <td align="center">97</td>
    <td align="center">100</td>
  </tr>
  <tr >
    <td align="center">价格(元)</td>
    <td align="center">110</td>
    <td align="center">120</td>
    <td align="center">160</td>
    <td align="center">180</td>
    <td align="center">190</td>
    <td align="center">200</td>
    <td align="center">240</td>
    <td align="center">250</td>
  </tr>
  <tr class="tr1">
    <td colspan="9">&nbsp;</td>
    </tr>
     <tr class="tr1">
    <td colspan="9" >一级雪松价格：书感知，树脂密度大，形状有没程宝塔装，管</td>
    </tr>
  <tr>
    <td width="65" align="center">高度(cm)</td>
    <td width="65" align="center">1.2cm</td>
    <td width="65" align="center">1.5cm</td>
    <td width="65" align="center">1.8cm</td>
    <td width="65" align="center">2.5m</td>
    <td width="65" align="center">3m</td>
    <td width="65" align="center">3.5m</td>
    <td width="65" align="center">4m</td>
    <td width="65" align="center">2m</td>
  </tr>
  <tr>
    <td width="62" align="center">土球(cm)</td>
    <td align="center">20</td>
    <td align="center">25</td>
    <td align="center">30</td>
    <td align="center">35</td>
    <td align="center">40</td>
    <td align="center">45</td>
    <td align="center">50</td>
    <td align="center">55</td>
  </tr>
  <tr class="tr1">
    <td align="center">价格(元)</td>
    <td align="center">7</td>
    <td align="center">9</td>
    <td align="center">11</td>
    <td align="center">13</td>
    <td align="center">15</td>
    <td align="center">18</td>
    <td align="center">20</td>
    <td align="center">25</td>
  </tr>
  <tr>
    <td align="center">高度(cm)</td>
    <td align="center">4.5cn</td>
    <td align="center">5.5cm</td>
    <td align="center">6cm</td>
    <td align="center">7cm</td>
    <td align="center">8cm</td>
    <td align="center">9cm</td>
    <td align="center">9.5cm</td>
    <td align="center">10cm</td>
  </tr>
  <tr >
    <td align="center">土球(cm)</td>
    <td align="center">65</td>
    <td align="center">70</td>
    <td align="center">75</td>
    <td align="center">80</td>
    <td align="center">85</td>
    <td align="center">90</td>
    <td align="center">97</td>
    <td align="center">100</td>
  </tr>
  <tr >
    <td align="center">价格(元)</td>
    <td align="center">110</td>
    <td align="center">120</td>
    <td align="center">160</td>
    <td align="center">180</td>
    <td align="center">190</td>
    <td align="center">200</td>
    <td align="center">240</td>
    <td align="center">250</td>
  </tr>
  <tr class="tr1">
    <td colspan="9">&nbsp;</td>
    </tr>
</table>


      </div>
      <img src="images/right-1-2.gif" /> </div>
  </div>
  <div class="clear"></div>
</div>
<div class="xian"></div>
<div class="clear"></div>
<div class="footer">
  <div class="foot"> <a href="#">关于我们</a><a href="#">联系方式</a><a href="#">客户留言</a><a href="#">招聘信息</a><a href="#">在线订购</a><a href="#" class="last3">友情链接</a><br  />
    <p>版权所有&nbsp;Copyright(C)2009-2010&nbsp;杭州某某林木</p>
  </div>
</div>
</body>
</html>